@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@700&display=swap");

:root {
    --error: red;
}

* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.main {
    width: 800px;
}

.main h1 {
    font-size: 50px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

.main .row input {
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgba(161, 161, 161, 0.863);
}

form button {
    width: 100%;
    height: 40px;
    background-color: rgba(0, 140, 255, 0.925);
    color: white;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

form button:hover {
    background-color: rgba(0, 140, 255, 0.774);
}

small {
    color: var(--error);
    visibility: hidden;
}

.main .row input.error {
    border: 2px solid var(--error);
}

.errorSmall {
    visibility: visible;
}

.gen label,
input {
    display: inline;
}

.main .row input.success {
    border: 2px solid rgb(4, 167, 4);
}
